<div class="container">
<div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-xl-8 mx-auto">
        <h2 class="h3 mb-4 page-title">Düzenle</h2>
        <div class="my-4">
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="false">Profile</a>
                </li>
            </ul>
            <form>
                <div class="row mt-5 align-items-center">
                    <div class="col-md-3 text-center mb-5">
                        <div class="avatar avatar-xl">
                            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="..." class="avatar-img rounded-circle" />
                        </div>
                    </div>
                    <div class="col">
                        <div class="row align-items-center">
                            <div class="col-md-7">
                                <h4 class="mb-1">Emlakcı</h4>
                                <p class="small mb-3"><span class="badge badge-dark">alanya/Antalya</span></p>
                            </div>
                        </div>
                        <div class="row mb-4">
                            <div class="col-md-7">
                                <p class="text-muted">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris blandit nisl ullamcorper, rutrum metus in, congue lectus. In hac habitasse platea dictumst. Cras urna quam, malesuada vitae risus at,
                                    pretium blandit sapien.
                                </p>
                            </div>
                            <div class="col">
                                <p class="small mb-0 text-muted">Akdeniz Üniversitesid</p>
                                <p class="small mb-0 text-muted">P.O. Box 464, 5975 Eget Avenue</p>
                                <p class="small mb-0 text-muted">(537) 134 14 14</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-4" />
                <div class="form-row">
                    <div class="form-group ">
                        <label for="firstname">İlk Adı:</label>
                        <input type="text" id="firstname" class="form-control" placeholder="adı..." />
                    </div>
                    <div class="form-group ">
                        <label for="lastname">Soyadı:</label>
                        <input type="text" id="lastname" class="form-control" placeholder="soyadı..." />
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail4">E-mail</label>
                    <input type="email" class="form-control" id="inputEmail4" placeholder="example@gmail.com" />
                </div>
                <div class="form-group">
                    <label for="inputAddress5">Address</label>
                    <input type="text" class="form-control" id="inputAddress5" placeholder="alanya/Antalya" />
                </div>
                
                <hr class="my-4" />
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="inputPassword4">Mevcut Parola:</label>
                            <input type="password" class="form-control" id="inputPassword5" />
                        </div>
                        <div class="form-group">
                            <label for="inputPassword5">Yeni Parola</label>
                            <input type="password" class="form-control" id="inputPassword5" />
                        </div>
                        <div class="form-group">
                            <label for="inputPassword6">Parola(tekrar)</label>
                            <input type="password" class="form-control" id="inputPassword6" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mb-2">Parola Gerekleri:</p>
                        <p class="small text-muted mb-2">Yeni bir parola oluşturmak için aşağıdaki gereksinimlerin tümünü karşılamanız gerekir:</p>
                        <ul class="small text-muted pl-4 mb-0">
                            <li>Min. 8 karakter</li>
                            <li>En az bir özel karakter</li>
                            <li>En az bir Sayı</li>
                            <li>Önceki Parolardan Farklı Olmalı</li>
                        </ul>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Değişiklikleri Kaydet</button>
            </form>
        </div>
    </div>
</div>

</div>
<br><br><br><br><br><br>
