<footer class="ftco-footer ftco-bg-dark ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Emlak Portalı</h2>
              <p>Ev sahibi olmak için doğru Adrestesiniz.</p>
              <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="content"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="content"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="content"><span class="icon-instagram"></span></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-5">
              <h2 class="ftco-heading-2">Satın Al</h2>
              <ul class="list-unstyled">
                <li><a href="content" class="py-2 d-block">Evini Sat</a></li>
                <li><a href="content" class="py-2 d-block">Evler</a></li>
                <li><a href="content" class="py-2 d-block">Yeni Listele</a></li>
                <li><a href="content" class="py-2 d-block">Trendler</a></li>
                <li><a href="content" class="py-2 d-block">Satılmış Evler</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Sat</h2>
              <ul class="list-unstyled">
                <li><a href="content" class="py-2 d-block">Satılık Ev</a></li>
                <li><a href="content" class="py-2 d-block">Ev sahibi olun</a></li>
                <li><a href="content" class="py-2 d-block">Ev Fiyatları</a></li>
                <li><a href="content" class="py-2 d-block">Hikaye &amp; Kurallar</a></li>
                <li><a href="content" class="py-2 d-block">Diğer</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Sorularınız için?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">203 Barlar Sokağı, Alanya, Antalya, Turkiye</span></li>
	                <li><a href="content"><span class="icon icon-phone"></span><span class="text">+90 505 505 55 00</span></a></li>
	                <li><a href="content"><span class="icon icon-envelope"></span><span class="text">info@gmail.com</span></a></li>
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Tüm Hakları Saklıdır || 2021
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
      </div>
    </footer>
  