<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Ad</th>
      <th scope="col">Ünvan</th>
      <th scope="col">Sosyal Hesap</th>
      <th scope="col">Üyelik Oranı</th>
      <th scope="col">Sahip Yetki</th>
      <th scope="col">Yetkilendir</th>
    </tr>
  </thead>
  <tbody>
 <tr>
      <th scope="row">1</th>
      <td>Ali</td>
      <td>Emlakçı</td>
      <td>ali@ali.com</td>
      <td>87%</td>
       <td id="yetki">Profosyonel</td>
      <td><div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Yetkilendirme
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" value="caylak">Çaylak</a></li>
    <li><a class="dropdown-item" value="tecrübeli">Tecrübeli</a></li>
    <li><a class="dropdown-item" value="profosyonel">Profosyonel</a></li>
    <li><a class="dropdown-item" value="master">Master</a></li>
    <li><a class="dropdown-item" value="Elit">Elit</a></li>
   
  </ul>
</div></td>
    </tr>
  <tr>
      <th scope="row">1</th>
      <td>Ali</td>
      <td>Emlakçı</td>
      <td>ali@ali.com</td>
      <td>87%</td>
       <td id="yetki">Profosyonel</td>
      <td><div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Yetkilendirme
  </button>
  <ul class="dropdown-menu">
     <li><a class="dropdown-item" value="caylak">Çaylak</a></li>
    <li><a class="dropdown-item" value="tecrübeli">Tecrübeli</a></li>
    <li><a class="dropdown-item" value="profosyonel">Profosyonel</a></li>
    <li><a class="dropdown-item" value="master">Master</a></li>
    <li><a class="dropdown-item" value="Elit">Elit</a></li>
   
  </ul>
</div></td>
    </tr>
   <tr>
      <th scope="row">1</th>
      <td>Ali</td>
      <td>Emlakçı</td>
      <td>ali@ali.com</td>
      <td>87%</td>
       <td id="yetki">Profosyonel</td>
      <td><div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Yetkilendirme
  </button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" value="caylak">Çaylak</a></li>
    <li><a class="dropdown-item" value="tecrübeli">Tecrübeli</a></li>
    <li><a class="dropdown-item" value="profosyonel">Profosyonel</a></li>
    <li><a class="dropdown-item" value="master">Master</a></li>
    <li><a class="dropdown-item" value="Elit">Elit</a></li>
   
  </ul>
</div></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Ali</td>
      <td>Emlakçı</td>
      <td>ali@ali.com</td>
      <td>87%</td>
       <td id="yetki">Profosyonel</td>
      <td><div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Yetkilendirme
  </button>
  <ul class="dropdown-menu">
       <li><a class="dropdown-item" value="caylak">Çaylak</a></li>
    <li><a class="dropdown-item" value="tecrübeli">Tecrübeli</a></li>
    <li><a class="dropdown-item" value="profosyonel">Profosyonel</a></li>
    <li><a class="dropdown-item" value="master">Master</a></li>
    <li><a class="dropdown-item" value="Elit">Elit</a></li>
   
  </ul>
</div></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Ali</td>
      <td>Emlakçı</td>
      <td>ali@ali.com</td>
      <td>87%</td>
       <td id="yetki">Profosyonel</td>
      <td><div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
    Yetkilendirme
  </button>
  <ul class="dropdown-menu">
      <li><a class="dropdown-item" value="caylak">Çaylak</a></li>
    <li><a class="dropdown-item" value="tecrübeli">Tecrübeli</a></li>
    <li><a class="dropdown-item" value="profosyonel">Profosyonel</a></li>
    <li><a class="dropdown-item" value="master">Master</a></li>
    <li><a class="dropdown-item" value="Elit">Elit</a></li>
  </ul>
</div></td>
    </tr>
  </tbody>
</table>