

    <mat-tab-group animationDuration="1000ms" >
   <main>
   <div class="container">

   <mat-tab  class="nav-info" label="Profil" >
  
   <app-management-profil></app-management-profil>
   </mat-tab>

   <mat-tab  class="nav-uye" label="Üyeler">
   <app-management-cards></app-management-cards>
   <app-management-cards></app-management-cards>
   <app-management-cards></app-management-cards>
  
   </mat-tab>
   
   <mat-tab  class="nav-yetki "  label="Yetkilendirme">
   <app-management-tables></app-management-tables>
      
   </mat-tab>
  
   <mat-tab  class="nav-admin "  label="Admin Ayarları">
   <app-management-profil-settings> </app-management-profil-settings>
   </mat-tab>

   <mat-tab  class="nav-icerik "  label="İçerikler">
   <app-management-content-card></app-management-content-card>
 
   </mat-tab>


   <mat-tab  class="nav-istatik "  label="İstatistikler">
   <app-management-statistics></app-management-statistics>
   </mat-tab>


   <mat-tab  class="nav-out "  label="Oturumu Kapat">
   <app-home-user></app-home-user>
   </mat-tab>

   </div>

   </main>

