<div class="container page-container">
<div class="row gutters">
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
    	<figure class="user-card green">
			<figcaption>
				<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Milestone Admin" class="profile">
				<h5>Ali Emlakçı</h5>
				<h6>@Ajans</h6>
				<p>28 Ekim 2016 da katıldı. Ev , Arsa işleri ile Uğraşıyor.</p>
				<ul class="contacts">
					<li>
						<a href="agenty">
						Ajans.com
						</a>
					</li>
					<li>
						<a href="agenty">
							Emlakportalı.com
						</a>
					</li>
				</ul>
				<div class="clearfix">
					<span class="badge badge-pill badge-info">villa</span>
					<span class="badge badge-pill badge-success">apartman</span>
					<span class="badge badge-pill badge-orange">arsa</span>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
		<figure class="user-card blue">
			<figcaption>
				<img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Milestone Admin" class="profile">
				<h5>Ali Emlakçı</h5>
				<h6>@Ajans</h6>
				<p>28 Ekim 2016 da katıldı. Ev , Arsa işleri ile Uğraşıyor.</p>
				<ul class="contacts">
					<li>
						<a href="agenty">
						Ajans.com
						</a>
					</li>
					<li>
						<a href="agenty">
							Emlakportalı.com
						</a>
					</li>
				</ul>
				<div class="clearfix">
					<span class="badge badge-pill badge-info">villa</span>
					<span class="badge badge-pill badge-success">apartman</span>
					<span class="badge badge-pill badge-orange">arsa</span>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
		<figure class="user-card pink">
			<figcaption>
				<img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Milestone Admin" class="profile">
				<h5>Ali Emlakçı</h5>
				<h6>@Ajans</h6>
				<p>28 Ekim 2016 da katıldı. Ev , Arsa işleri ile Uğraşıyor.</p>
				<ul class="contacts">
					<li>
						<a href="agenty">
						Ajans.com
						</a>
					</li>
					<li>
						<a href="agenty">
							Emlakportalı.com
						</a>
					</li>
				</ul>
				<div class="clearfix">
					<span class="badge badge-pill badge-info">villa</span>
					<span class="badge badge-pill badge-success">apartman</span>
					<span class="badge badge-pill badge-orange">arsa</span>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
		<figure class="user-card brown">
			<figcaption>
				<img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Milestone Admin" class="profile">
				<h5>Ali Emlakçı</h5>
				<h6>@Ajans</h6>
				<p>28 Ekim 2016 da katıldı. Ev , Arsa işleri ile Uğraşıyor.</p>
				<ul class="contacts">
					<li>
						<a href="agenty">
						Ajans.com
						</a>
					</li>
					<li>
						<a href="agenty">
							Emlakportalı.com
						</a>
					</li>
				</ul>
				<div class="clearfix">
					<span class="badge badge-pill badge-info">villa</span>
					<span class="badge badge-pill badge-success">apartman</span>
					<span class="badge badge-pill badge-orange">arsa</span>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
		<figure class="user-card fb">
			<figcaption>
				<img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Milestone Admin" class="profile">
				<h5>Ali Emlakçı</h5>
				<h6>@Ajans</h6>
				<p>28 Ekim 2016 da katıldı. Ev , Arsa işleri ile Uğraşıyor.</p>
				<ul class="contacts">
					<li>
						<a href="agenty">
						Ajans.com
						</a>
					</li>
					<li>
						<a href="agenty">
							Emlakportalı.com
						</a>
					</li>
				</ul>
				<div class="clearfix">
					<span class="badge badge-pill badge-info">villa</span>
					<span class="badge badge-pill badge-success">apartman</span>
					<span class="badge badge-pill badge-orange">arsa</span>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
		<figure class="user-card green">
			<figcaption>
				<img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="Milestone Admin" class="profile">
				<h5>Ali Emlakçı</h5>
				<h6>@Ajans</h6>
				<p>28 Ekim 2016 da katıldı. Ev , Arsa işleri ile Uğraşıyor.</p>
				<ul class="contacts">
					<li>
					<a href="agenty">
						Ajans.com
						</a>
					</li>
					<li>
						<a href="agenty">
							Emlakportalı.com
						</a>
					</li>
				</ul>
				<div class="clearfix">
					<span class="badge badge-pill badge-info">villa</span>
					<span class="badge badge-pill badge-success">apartman</span>
					<span class="badge badge-pill badge-orange">arsa</span>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
		<figure class="user-card red">
			<figcaption>
				<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Milestone Admin" class="profile">
				<h5>Ali Emlakçı</h5>
				<h6>@Ajans</h6>
				<p>28 Ekim 2016 da katıldı. Ev , Arsa işleri ile Uğraşıyor.</p>
				<ul class="contacts">
					<li>
						<a href="agenty">
						Ajans.com
						</a>
					</li>
					<li>
						<a href="agenty">
							Emlakportalı.com
						</a>
					</li>
				</ul>
				<div class="clearfix">
					<span class="badge badge-pill badge-info">villa</span>
					<span class="badge badge-pill badge-success">apartman</span>
					<span class="badge badge-pill badge-orange">arsa</span>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
		<figure class="user-card orange">
			<figcaption>
				<img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="Milestone Admin" class="profile">
				<h5>Ali Emlakçı</h5>
				<h6>@Ajans</h6>
				<p>28 Ekim 2016 da katıldı. Ev , Arsa işleri ile Uğraşıyor.</p>
				<ul class="contacts">
					<li>
					<a href="agenty">
						Ajans.com
						</a>
					</li>
					<li>
						<a href="agenty">
							Emlakportalı.com
						</a>
					</li>
				</ul>
				<div class="clearfix">
					<span class="badge badge-pill badge-info">villa</span>
					<span class="badge badge-pill badge-success">apartman</span>
					<span class="badge badge-pill badge-orange">arsa</span>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
		<figure class="user-card teal">
			<figcaption>
				<img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="Milestone Admin" class="profile">
				<h5>Ali Emlakçı</h5>
				<h6>@Ajans</h6>
				<p>28 Ekim 2016 da katıldı. Ev , Arsa işleri ile Uğraşıyor.</p>
				<ul class="contacts">
					<li>
						<a href="agenty">
						Ajans.com
						</a>
					</li>
					<li>
						<a href="agenty">
							Emlakportalı.com
						</a>
					</li>
				</ul>
				<div class="clearfix">
				<span class="badge badge-pill badge-info">villa</span>
					<span class="badge badge-pill badge-success">apartman</span>
					<span class="badge badge-pill badge-orange">arsa</span>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
		<figure class="user-card gp">
			<figcaption>
				<img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="Milestone Admin" class="profile">
				<h5>Ali Emlakçı</h5>
				<h6>@Ajans</h6>
				<p>28 Ekim 2016 da katıldı. Ev , Arsa işleri ile Uğraşıyor.</p>
				<ul class="contacts">
					<li>
						<a href="agenty">
						Ajans.com
						</a>
					</li>
					<li>
						<a href="agenty">
							Emlakportalı.com
						</a>
					</li>
				</ul>
				<div class="clearfix">
					<span class="badge badge-pill badge-info">villa</span>
					<span class="badge badge-pill badge-success">apartman</span>
					<span class="badge badge-pill badge-orange">arsa</span>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
		<figure class="user-card blue">
			<figcaption>
				<img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="Milestone Admin" class="profile">
				<h5>Ali Emlakçı</h5>
				<h6>@Ajans</h6>
				<p>28 Ekim 2016 da katıldı. Ev , Arsa işleri ile Uğraşıyor.</p>
				<ul class="contacts">
					<li><a href="agenty">
						Ajans.com
						</a>
					</li>
					<li>
						<a href="agenty">
							Emlakportalı.com
						</a>
					</li>
				</ul>
				<div class="clearfix">
					<span class="badge badge-pill badge-info">villa</span>
					<span class="badge badge-pill badge-success">apartman</span>
					<span class="badge badge-pill badge-orange">arsa</span>
				</div>
			</figcaption>
		</figure>
	</div>
	<div class="col-xl-3 col-lg-3 col-md-3 col-sm-4 col-12">
		<figure class="user-card orange">
			<figcaption>
				<img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="Milestone Admin" class="profile">
				<h5>Ali Emlakçı</h5>
				<h6>@Ajans</h6>
				<p>28 Ekim 2016 da katıldı. Ev , Arsa işleri ile Uğraşıyor.</p>
				<ul class="contacts">
					<li>
						<a href="agenty">
						Ajans.com
						</a>
					</li>
					<li>
						<a href="agenty">
							Emlakportalı.com
						</a>
					</li>
				</ul>
				<div class="clearfix">
					<span class="badge badge-pill badge-info">villa</span>
					<span class="badge badge-pill badge-success">apartman</span>
					<span class="badge badge-pill badge-orange">arsa</span>
				</div>
			</figcaption>
		</figure>
	</div>
</div>
</div>