
<div class="container">
    <div class="row">
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="https://karmod.com/images/resimler/tr/prefabrik-ev-dublex.jpg" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Villa</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <a href="property" class="btn btn-outline-success btn-sm">Daha+</a>
        <a href="property" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>
  <div class="col-lg-4 mb-4">
  <div class="card">
      <img src="https://karmod.com/images/resimler/tr/prefabrik-ev-dublex.jpg" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Villa</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <a href="property" class="btn btn-outline-success btn-sm">Daha+</a>
        <a href="property" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
      </div>
      </div>
    </div>
    <div class="col-lg-4 mb-4">
    <div class="card">
      <img src="https://karmod.com/images/resimler/tr/prefabrik-ev-dublex.jpg" alt="" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title">Villa</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ut eum similique repellat a laborum, rerum voluptates ipsam eos quo tempore iusto dolore modi dolorum in pariatur. Incidunt repellendus praesentium quae!</p>
       <a href="property" class="btn btn-outline-success btn-sm">Daha+</a>
        <a href="property" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
      </div>
     </div>
    </div>
  </div>
</div>


